@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif; 
}

body {
    background-image: linear-gradient(to right, #bfbcc5, #add8bae7);
}

h1 {
    color: rgba(0, 0, 0, 0.726);
    text-align: center;
}

h2{
    color: rgba(0, 0, 0, 0.726);
}
p {
    color: rgba(0, 0, 0, 0.726);
    text-align: justify;
}