@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif; 
}

body {
    background-color: #B9BF0B;
}

h1 {
    text-align: center;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(136, 109, 93, 0.616);
    width: 600px;
    padding: 10px;
    margin: auto;
}

img {
    width: 100%;
    max-width: 350px;
    padding: 10px;
    display: block;
    margin: auto;
}
ul {
    text-align: center;
}
p {
    text-align: center;
    padding: 20px;
}